{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

<div  class="row">
   <div class="span5">
    
   </div>
<div class="span4">

{% include "FOSUserBundle:Registration:register_content.html.twig" %}


</div>
</div>
{% endblock fos_user_content %}
