{# src/Triv/QuizzBundle/Resources/views/Quizz/add.html.twig #}

{% extends "TrivQuizzBundle::layout.html.twig" %}


   
{% block title %}
  Ajouter un Quizz - {{ parent() }}
{% endblock %}

{% block AllBody %}

   <h2>Ajouter un Quizz</h2>
  
 
</br></br>
<div class="row">
   <div class="span4">
   </div>
    <div class="span4">
	
   </div>
</div>
 {{ include("TrivQuizzBundle:Quizz:form.html.twig") }}

  <p>
    <a href="{{ path('triv_quizz_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour aux Quizz
    </a>
  </p>

  
  
{% endblock %}
