{# src/Triv/NewsBundle/Resources/views/News/add.html.twig #}

{% extends "TrivNewsBundle::layout.html.twig" %}


   
{% block title %}
  Ajouter un News- {{ parent() }}
{% endblock %}

{% block AllBody %}

   <h2>Ajouter une nouvelle</h2>
  
 
</br></br>
<div class="row">
   <div class="span4">
   </div>
    <div class="span4">
	
   </div>
</div>
 {{ include("TrivNewsBundle:News:form.html.twig") }}

  <p>
    <a href="{{ path('triv_news_index') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour aux News
    </a>
  </p>

  
  
{% endblock %}
