{# src/Triv/AnimesBundle/Resources/views/Animes/addEpisode.html.twig #}

{% extends "TrivAnimesBundle::layout.html.twig" %}


   
{% block title %}
  Ajouter un episode - {{ parent() }}
{% endblock %}

{% block AllBody %}

   <h2>Ajouter un episode</h2>
  
 
</br></br>
<div class="row">
   <div class="span4">
   </div>
    <div class="span4">
	
   </div>
</div>
 {{ include("TrivAnimesBundle:Animes:form4.html.twig") }}

  <p>
    <a href="{{ path('Triv_Animes_view',{'id': idAnime}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour a l'anime
    </a>
  </p>

  
  
{% endblock %}
