{# src/Triv/AnimesBundle/Resources/views/Animes/edit.html.twig #}

{% extends "TrivAnimesBundle::layout.html.twig" %}

{% block title %}
  Modifier un anime - {{ parent() }}
{% endblock %}

{% block AllBody %}

  <h2>Modifier un anime</h2>

  {% include "TrivAnimesBundle:Animes:form2.html.twig" %}

  <p>
    Vous éditez un anime déjà existant, merci de ne pas changer
    l'esprit générale de l'anime déjà publié.
  </p>

  <p>
    <a href="{{ path('Triv_Animes_view', {'id': anime.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'anime
  </p>

{% endblock %}
