{% trans_default_domain 'FOSUserBundle' %}
<div class="row">
		     
        	<div class="span4">
			</div>


        	<div class="span6">
{{ form_start(form, { 'action': path('fos_user_profile_edit',{'id': app.user.id}), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn3_ />
    </div>
{{ form_end(form) }}
          
</div>
</div>		  